@{
    ViewData["Title"] = "List of orders";
    var headers = new List<(string propertyName, string colName)> { ("Number", "Number"), ("Date", "Date"), ("ProviderId", "ProviderId") }; 
    var data = new List<OrderModel>();
}


@model IndexPageModel
@using HtmlHelper

<h1>@ViewData["Title"]</h1>
<div>
    <form method="post">
        <input id="1" name=dateStart type="date" value=@ViewBag.dateStart />
        <label> - </label>     
        <input id="2" name="dateEnd" type="date" value=@ViewBag.dateEnd />
         @if(@Model != null)
        {                
            <label>Number filter</label> 
            <select  asp-for="NumberList" asp-items="@Model.NumberList" name="NumberFilter" size=3 > select </select>
            <label>Provider filter</label>
            <select  asp-for="ProviderList" asp-items="@Model.ProviderList" name="ProviderFilter" size=3 > select </select>
        }
        <input type="submit" value="Применить" />
    </form>
    <div >
        <a class="nav-link text-dark" asp-area="" asp-controller="OrdersManager" asp-action="OrderCreateEdit" class="add-button">Создать заказ</a>
    </div>
</div>
<div class="table">

    <div class="grid-container">
          @foreach(var item in headers)
        {
            <div  class="th">@item.colName</div>    
        }
        @foreach(var item in Model.Orders)
        {

            <a asp-action="ViewOrder" asp-route-id="@item.Id" style="display: contents; color:black;">
                <div class="td">@item.Number</div> 
                <div class="td">@item.Date</div> 
                <div class="td">@item.ProviderId</div>
            </a>
        }
    </div>
</div>
@*@if(Model != null)
{
    @ListHelper.Table(Html, Model.Orders, headers)
}
else
{
    @ListHelper.Table(Html, data, headers)   
}*@


