@{
    ViewData["Title"] = "Order item Create/Edit page";
    var headers = new List<(string propertyName, string colName)> { ("Name", "Имя"), ("Quantity", "Количество"), ("Unit", "Секция") };

    var item = new OrderItemModel();
    if(Model.Order == null)
    {
        Model.Order  = new OrderModel();
        Model.Order.Date = DateTime.Today;
    }

    if(Model.OrderItems == null)
        Model.OrderItems  = new List<OrderItemModel>();
    
    var newOrderItem = new OrderItemModel();
    newOrderItem.Order = Model.Order;

    var partialView = await Component.InvokeAsync("DataTransferView", Model);    
        
}
<h1>@ViewData["Title"]</h1>
@model EditCreatePageModel
@using HtmlHelper
@using Microsoft.AspNetCore.Html


<div>
    </div>
    @using(Html.BeginForm("ProcessForm", "OrdersManager", FormMethod.Post))
    {
        @Html.EditorFor(m => Model.Order)
        <p><input name="SaveOrder" type="submit" value="Сохранить заказ"  /></p>

        @Html.EditorFor(m => newOrderItem)
        @for (int i = 0; i < Model.OrderItems.Count; i++)
        {
            @Html.HiddenFor((m => Model.OrderItems[i].OrderId)) 
            @Html.HiddenFor((m => Model.OrderItems[i].Name)) 
            @Html.HiddenFor((m => Model.OrderItems[i].Quantity)) 
            @Html.HiddenFor((m => Model.OrderItems[i].Unit)) 
        }                    
        <p><input name="AddOrderItem" type="submit" value="Добавить предмет в заказ"/></p>
    }


@ListHelper.Table(Html, Model.OrderItems, headers, partialView) 